task-manager/.metadata/
# Ignore Eclipse metadata folder
task-manager/.metadata/

# Ignore Java class files
*.class

# Ignore build directories
bin/
target/

# Ignore OS-specific files
.DS_Store
Thumbs.db
# In .gitignore
task-manager/task-user/data/
task-manager/task-user/logs/
.sonarlint/
